@charset "UTF-8";

body {
    background-image: -o-linear-gradient(right);
    background-color: rgb(145, 235, 152);
}

h1#principal {
    background-color: rgb(3, 180, 47);
    color: rgb(1, 87, 17);
    box-shadow: 2px 2px 2px;
    text-align: center;
}

.subtitulo1 {
    color: rgb(182, 4, 4);
}

.subtitulo2 {

color: blueviolet;
}

.subtitulo3 {

color: blue;
}

.subtitulo4 {

color: rgb(113, 131, 15);
}

.voltar {
    box-shadow: 2px 2px  2px;
    background-color: rgb(255, 255, 255);
}